.home_page__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 25px 10px;

  h1 {
    font-size: 60px;
    color: whitesmoke;
  }
  p {
    text-align: center;
    font-size: 30px;
  }
}
